#view_custom_lasooo_share{
    background:#CAFF70 url("/misc/images/lasooo-ad-03.jpg") no-repeat;
    overflow:hidden;
}

#view_custom_lasooo_share .block-content{
    color:#006400;
    
}

#view_custom_lasooo_share .block-content .title{
    width:300px;
    height:60px;
    /*border:1px #FF0000 solid;*/
    margin-left:710px;
    margin-top:120px;
    position:absolute;
}
#view_custom_lasooo_share .block-content .title .title-bg{
    background:#666;
    width:300px;
    height:60px;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}
#view_custom_lasooo_share .block-content .title .title-text{
    font-size:1.6em;
    line-height:60px;
    color:#FFF;
    margin-top:-60px;
    margin-left:0px;
    padding:0 20px;
    position:absolute;
}

#view_custom_lasooo_share .block-content .title .title-text a{
    font-size:1em;
    color:#FF7F24;
}
