.block-view_custom_node_readpromote.feature-detail{
	
}

.block-view_custom_node_readpromote.feature-detail .block-title{
	background:#DDD;
	line-height:50px;
	color:#033;
}
.block-view_custom_node_readpromote.feature-detail .block-content{
	background:#EEE;
}
